.footer {
  height: 30px;
//   bottom: 0;

  a:link {
    color: #2B70E4;
    font-family: sans-serif;
  }
  a:hover {
    color: hotpink;
    font-family: sans-serif;
  }

  a:visited {
    color: green;
  }

}

.tab {
    display: inline-block;
    margin-left: 200px;
}

.section {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 30px;

}


