.quill-editor {
  height: 11in;
  max-width: 8.5in;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.btnSave {
  background-color: #0f58b1; /* Google Docs blue */
  color: #ffffff; /* White text color */
  border: none;
  border-radius: 4px; /* Slightly reduced border radius for the Google Docs style */
  padding: 10px 16px; /* Adjusted padding for a larger button */
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px; /* Adjust margin as needed */
  font-size: 14px; /* Adjust font size */
  font-weight: 600; /* Adjust font weight */
  text-transform: uppercase; /* Convert text to uppercase */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.btnSave:hover {
  background-color: #0c4599; /* Slightly darker blue on hover */
}

/* Add custom styles for the btnBack button with the google-settings-btn class */
.google-settings-btn {
  background-color: #ff5722; /* Change the background color to the desired color */
  color: #ffffff; /* Text color */
  border: none;
  border-radius: 4px;
  padding: 10px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.google-settings-btn:hover {
  background-color: #e64a19; /* Change the background color on hover */
}


.docName {
  background-color: white;
  color: black;
  border: none;
  text-align: center;
}

.document {
  background-color: white;
  border: none;
}

.img {
  border: 1px solid #A6A6A6;
}

div.parentElement{text-align: center;}
