/* Container for the search bar */
.search-bar-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 30px; /* Make the container circular */
  overflow: hidden; /* Hide overflow for circular shape */
  background-color: #f0f0f0; /* Background color for the container */
  width: 400px; /* Set a fixed width for the search bar */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add a box shadow for depth */
  height: 30px;
}

/* Input field for the search query */
.search-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
  background: transparent; /* Remove input background */
}

/* Search button */
.search-button {
  background-color: transparent; /* Transparent background */
  color: #007bff; /* Text color for the icon */
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%; /* Make the button circular */
  transition: background-color 0.3s ease-in-out; /* Add a smooth transition effect */
}

/* Style the button on hover */
.search-button:hover {
  background-color: #007bff; /* Background color on hover */
  color: #fff; /* Text color on hover */
}

.clear-button {
  background-color: transparent;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
}

/* Style the button on hover */
.clear-button:hover {
  text-decoration: underline;
}

.results-list {
  width: 400px; /* Match the width of the main search bar */
  max-height: 300px;
  overflow-y: auto;

}

/* Style each search result item */
.search-result {
  width: 400px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 6px 0; /* Further reduce padding */
  font-size: 12px; /* Reduce font size */
  border-bottom: 1px solid #ddd;
}

/* Style the last search result item to remove the border */

