# fly.toml app configuration file generated for patient-butterfly-3236 on 2023-09-11T16:56:16-04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "patient-butterfly-3236"
primary_region = "iad"

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]
